<div class="border-bottom border-color-1">
    <h4 class="mb-3 ml-1 mt-3 pb-2">{% if app.user %}Moje{% endif%} Ogłoszenia</h4>
</div>
{% if item.commentAnswers.count > 0 %}

{% else %}
    <div class="p-2 m-2 ">
        <h5>Brak ogłoszeń dla {{ item.username }} </h5>
    </div>
{% endif %}