<div id="comment" style="display: none" class="comment2 bgcolor p-2 mt-3 brad">
    <div class="p-1 pl-2 border-bottom border-primary">
        <h5>Twój komentarz do tej odpowiedzi</h5>
    </div>
    <div class="p-2 mt-1">
        <form name="comment_answer_form" method="post" action="{{ path('view_post', {'categorySlug': catSlug,'slug': item.post.slug}) }}">
            <textarea name="comment_answer_name" class="text2 mb-3"></textarea>
            <div hidden="hidden" >{{ answer_id }}</div>
            <div class="text-right mt-1 ">
                <div class="add-comment btn btn-outline-primary" type="submit">Dodaj</div>
            </div>
        </form>
        <button class="btn btn-outline-danger close1" type="button" data-username1="{{ app.user.username }}" data-username2="{{ item.user.username }}">
            Anuluj
        </button>
    </div>
</div>
