{% extends 'base.html.twig' %}

{% block title %}Rejestracja - {{ parent() }}{% endblock %}

{% block body %}
    <div class="text-white mt-3 w-75 float-left mb-4 " >
        {{ include('components/register_com.html.twig') }}
    </div>
{% endblock %}
