body{
    background-color: #21252b;
}

.bgcolor{
    background-color: #21252b ;
}
.bgcolor2{
    background-color: #1c7430 ;
}
.bgcolor3{
    background-color: #4e555b;
}
.brad{
    border-radius: 3px!important;
}
.logo{
    width: 130px;
    height: 45px;
}
a:hover{
    text-decoration-color: #1c7430;
    text-decoration: none;
}
.font-color{
    color: #006cff;
}
.border-color{
    border-color: #9c9b99;
}
.text-color{
    color: #1ea200;
}
.text-color-1{
    color: #ffe000f2!important;
}
.text-color-2{
    color: #0057ff;
}
.text-color-3{
    color: #00a5ff;
}
.text-color-4{
    color: #9c9b99;
}
.w-80{
    width: 80%!important;
}
.font-10{
    font-size: 13px;
}
.font-15{
    font-size: 14px;
}
.font-25{
    font-size: 25px;
}
.font-40{
    font-size: 40px;
}
.font-18{
    font-size: 18px;
}
.border-color-1{
    border-bottom-color: #4e555b!important;
}
.max-width-1{
    max-width: 20%!important;
}
.w-78{
    max-width: 78%!important;
}
.h-59{
    height: 59px;
}
