<div class="border border-primary p-4 brad mt-3">
    <h4 class="mb-3">Opis</h4>
    <div id="description" class="mt-1">
        <h6 class="font-weight-light mb-2">Opis<span style="color: red">*</span></h6>
        <textarea id="description_form_name" class="textarea2" ></textarea>
        <span class="font-13 text-color-4">Użyj maks. 5000 znaków</span>
    </div>
</div>