<div id="template9">
    <div class="border border-primary p-4 mt-3 brad" style="display: none">
        <div class="price_of_other_automotive_form_name mb-3 w-33 ">
            <h6 class="font-weight-light mb-2">Cena<span style="color: red">*</span></h6>
            <input class=" float-left price " type="text">
            <span class="float-left ml-2 pt-1 mt-1 price-ite">zł</span>
            <div style="clear: both"></div><div class="mt-2">
                <input type="checkbox" id="price_arranged_other" class="mr-1 p-1 font-18">
                <label for="price_arranged" class="">Do negocjacji</label>
            </div>

        </div>
    </div>
</div>