<div class="border border-primary p-4 brad mt-3">
    <h4 class="">Dodaj zdjęcia</h4>
    <div class="mt-1">
        <label class="font-13">Pomogą one uzyskać wiekszą oglądalność twojego ogłoszenia</label>
        <div id="photos-offer" class="p-1 mt-4">
            <div class="w-25 float-left">
                <div id="photo-1" class="field upload pt-4 pb-4 bg-info">
                    <label class="line font-13 w-75 ml-auto mr-auto">
                        To będzie Twoje zdjęcie główne
                    </label>
                    <input type="file" name="upload-file">
                </div>
            </div>
            <div class="w-25 float-left">
                <div id="photo-2" class="field upload bgcolor3 ">
                    <label class="font-30 w-75 ml-auto mr-auto">
                        <i class="icon-camera"></i>
                    </label>
                    <input type="file" name="upload-file">
                </div>
            </div>
            <div class="w-25 float-left">
                <div id="photo-3" class="field upload bgcolor3">
                    <label class="font-30 w-75 ml-auto mr-auto">
                        <i class="icon-camera"></i>
                    </label>
                    <input type="file" name="upload-file">
                </div>
            </div>
            <div class="w-25 float-left">
                <div id="photo-4" class="field upload bgcolor3">
                    <label class="font-30 w-75 ml-auto mr-auto">
                        <i class="icon-camera"></i>
                    </label>
                    <input type="file" name="upload-file">
                </div>
            </div>
            <div class="w-25 mt-3 float-left">
                <div id="photo-5" class="field upload bgcolor3">
                    <label class="font-30 w-75 ml-auto mr-auto">
                        <i class="icon-camera"></i>
                    </label>
                    <input type="file" name="upload-file">
                </div>
            </div>
            <div class="w-25 mt-3 float-left">
                <div id="photo-6" class="field upload bgcolor3">
                    <label class="font-30 w-75 ml-auto mr-auto">
                        <i class="icon-camera"></i>
                    </label>
                    <input type="file" name="upload-file">
                </div>
            </div>
            <div class="w-25 mt-3 float-left">
                <div id="photo-7" class="field upload bgcolor3">
                    <label class="font-30 w-75 ml-auto mr-auto">
                        <i class="icon-camera"></i>
                    </label>
                    <input type="file" name="upload-file">
                </div>
            </div>
            <div class="w-25 mt-3 float-left">
                <div id="photo-8" class="field upload bgcolor3">
                    <label class="font-30 w-75 ml-auto mr-auto">
                        <i class="icon-camera"></i>
                    </label>
                    <input type="file" name="upload-file">
                </div>
            </div>
            <div style="clear: both"></div>
        </div>
    </div>
</div>