<div class="border border-primary p-4 brad mt-3">
    <h4 class="header-photos">Dodaj zdjęcia</h4>
    <div class="mt-1">
        <label class="font-13">Pomogą one uzyskać wiekszą oglądalność twojego ogłoszenia</label>
        <div id="photos-offer" class="p-1 mt-4">
            <div id="photos-offer-form" >
                <div class="w-25 float-left ">
                    <div id="photo-1" class="field upload height4 bg-info">
                        <label class="line font-13 w-75">
                            To będzie Twoje zdjęcie główne
                        </label>
                        <input type="file" name="photo_1" class="upload-files" accept="image/jpeg,image/png">
                    </div>
                </div>
                <div class="w-25 float-left">
                    <div id="photo-2" class="field upload height4 bgcolor3 ">
                        <label class="font-30 w-75 ">
                            <i class="icon-camera"></i>
                        </label>
                        <input type="file" name="photo_2" class="upload-files" accept="image/jpeg,image/png">
                    </div>
                </div>
                <div class="w-25 float-left">
                    <div id="photo-3" class="field upload height4 bgcolor3">
                        <label class="font-30 w-75 ">
                            <i class="icon-camera"></i>
                        </label>
                        <input type="file" name="photo_3" accept="image/jpeg,image/png">
                    </div>
                </div>
                <div class="w-25 float-left">
                    <div id="photo-4" class="field upload height4 bgcolor3">
                        <label class="font-30 w-75">
                            <i class="icon-camera"></i>
                        </label>
                        <input type="file" name="photo_4" accept="image/jpeg,image/png">
                    </div>
                </div>
                <div class="w-25 mt-3 float-left">
                    <div id="photo-5" class="field height4 upload bgcolor3">
                        <label class="font-30 w-75 ">
                            <i class="icon-camera"></i>
                        </label>
                        <input type="file" name="photo_5" accept="image/jpeg,image/png">
                    </div>
                </div>
                <div class="w-25 mt-3 float-left">
                    <div id="photo-6" class="field height4 upload bgcolor3">
                        <label class="font-30 w-75">
                            <i class="icon-camera"></i>
                        </label>
                        <input type="file" name="photo_6" accept="image/jpeg,image/png">
                    </div>
                </div>
                <div class="w-25 mt-3 float-left">
                    <div id="photo-7" class="field height4 upload bgcolor3">
                        <label class="font-30 w-75 ">
                            <i class="icon-camera"></i>
                        </label>
                        <input type="file" name="photo_7" accept="image/jpeg,image/png">
                    </div>
                </div>
                <div class="w-25 mt-3 float-left">
                    <div id="photo-8" class="field height4 upload bgcolor3">
                        <label class="font-30 w-75 ">
                            <i class="icon-camera"></i>
                        </label>
                        <input type="file" name="photo_8" accept="image/jpeg,image/png">
                    </div>
                </div>
                <div style="clear: both"></div>
{#                <div class="text-right mr-3">#}
{#                    <button type="button" id="save_photos_offer" class="btn btn-outline-info mt-3">Zapisz</button>#}
{#                </div>#}
            </div>
        </div>
    </div>
</div>