<div id="template7">
    <div class="border border-primary p-4 mt-3 brad" style="display: none">
        <div class="mb-3 ">
            <h6 class="font-weight-light mb-2">Wybierz podkategorię<span style="color: red">*</span></h6>
            <select  id="trailer_form_name" class="categorySelect1">
                <option value="0" selected>-</option>
                {% for item in cat %}
                    {% if item.id == 7 %}
                        {% for it in item.childrenCategories %}
                            <option value="{{ it.id }}">{{ it.name }}</option>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="border border-primary p-4 mt-3 brad" style="display: none">
        <div class="price_of_trailer_form_name mb-3 w-33 ">
            <h6 class="font-weight-light mb-2">Cena<span style="color: red">*</span></h6>
            <input class=" float-left price "  type="text">
            <span class="float-left ml-2 pt-1 mt-1 price-ite">zł</span>
            <div style="clear: both"></div>
            <div class="mt-2">
                <input type="checkbox" id="price_arranged_trailer" class="mr-1 p-1 font-18">
                <label for="price_arranged" class="">Do negocjacji</label>
            </div>
        </div>
    </div>
    <div class="border border-primary p-4 mt-3 brad" style="display: none">
        <div class="mb-3" id="year_of_trailer_form_name">
            <h6 class="font-weight-light mb-2">Rok produkcji<span style="color: red">*</span></h6>
            <input type="text" class="textType1">
        </div>
        <div class="mb-3">
            <h6 class="font-weight-light mb-2">Stan techniczny<span style="color: red">*</span></h6>
            <select id="condition_of_trailer_form_name" class="categorySelect1">
                <option value="0">-</option>
                {% for item in data.condition %}
                    <option value="{{ item.id }}">{{ item.name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>