<div class="card-body brad bgcolor3 text-white text-center pt-2">
    <div class="font-weight-bold">
        <h4>Dzisiaj mamy</h4>
        <h5><i class=" icon-calendar"></i> {{ "now"|date('d-m-Y')}}</h5>
        <h5 class="mb-0"><i class="icon-clock"></i><span id="watch"></span></h5>
    </div>
</div>