<div class="float-left w-50 bgcolor3 pt-2 pb-2">
    <h4>{{ info.posts }}</h4>
    Zapytań
</div>
<div class="float-left w-50 bg-dark pt-2 pb-2">
    <h4>{{ info.answers }}</h4>
    Odpowiedzi
</div>
<div style="clear: both"></div>
<div class="float-left w-50 bg-dark pt-2 pb-2">
    <h4>{{ info.users }}</h4>
    Użytkowników
</div>
<div class="float-left w-50 bgcolor3 pt-2 pb-2">
    <h4>{{ info.announcement }}</h4>
    Ogłoszeń
</div>
<div style="clear: both"></div>