<div class="bg-dark brad">
    <div class="p-3 mt-1 border-bottom-1">
        <h5 class="text-info text-center">Masz jakieś pytania?</h5>
        <p class="text-center mt-4 pl-2 pr-2 text-white">Autovi.pl umożliwia wszyskim użytkownikom na zadawanie różnych
            pytań oraz udzielanie ciekawych i sprawdzonych porad
            z dziedziny motoryzacji. Jeśli masz jakiś problem lub szukasz porady, dodaj post.</p>
    </div>
    <div class=" p-3 mt-1 ">
        <h5 class="text-info text-center">Chcesz coś ogłosić?</h5>
        <p class="text-center mt-4 pl-2 pr-2 text-white">Ten serwis daje możliwość dodawania ogłoszeń związanych z
            motoryzacją.
            Możesz wystawiać Swoje przedmioty na sprzedaż bez ograniczeń.</p>
    </div>
</div>
