<div class="float-left btl-radius w-50 bgcolor3 pt-2 pb-2">
    <h4>{{ info.posts }}</h4>
    <span class="font-15">Zapytań</span>
</div>
<div class="float-left btr-radius w-50 bg-dark pt-2 pb-2">
    <h4>{{ info.answers }}</h4>
    <span class="font-15">Odpowiedzi</span>
</div>
<div style="clear: both"></div>
<div class="float-left bbl-radius w-50 bg-dark pt-2 pb-2">
    <h4>{{ info.users }}</h4>
    <span class="font-15">Użytkowników</span>
</div>
<div class="float-left bbr-radius w-50 bgcolor3 pt-2 pb-2">
    <h4>{{ info.announcement }}</h4>
    <span class="font-15">Ogłoszeń</span>
</div>
<div style="clear: both"></div>