<div class="brad mt-1 brad text-white text-center">
    <div class="float-left w-50 bgcolor3 pt-2 pb-2">
        <h4>245</h4>
        Zapytań
    </div>
    <div class="float-left w-50 bg-dark pt-2 pb-2">
        <h4>245</h4>
        Odpowiedzi
    </div>
    <div style="clear: both"></div>
    <div class="float-left w-50 bg-dark pt-2 pb-2">
        <h4>245</h4>
        Użytkowników
    </div>
    <div class="float-left w-50 bgcolor3 pt-2 pb-2">
        <h4>245</h4>
        kogos
    </div>
    <div style="clear: both"></div>
</div>