<div class="bg-dark mt-1 brad text-white" >
    <div class="border-bottom border-primary p-1 pl-3 pt-2">
        <h5>Znajdziesz nas</h5>
    </div>
    <div class="p-3">
        <div class="float-left font-40"><a href="" class="text-white"><i class="icon-facebook-circled"></i></a></div>
        <div class="float-left font-40"><a href="" class="text-white"><i class="icon-twitter-circled"></i></a></div>
        <div class="float-left font-40">
            <a href="https://github.com/bartekmaterla11/AutoForum" target="_blank" class="text-white">
                <i class="icon-github-circled-alt2"></i>
            </a>
        </div>
        <div style="clear: both"></div>
    </div>
</div>